
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C0BAB8;
  }
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .mySlides {
    display: none;
    transition: opacity 1s ease-in-out;
  }
  
  .mySlides img {
    width: 100%;
    border-radius: 10px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .dot-container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ddd;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #0679BF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .active, .dot:hover {
    background-color: #0E5785;
  }
  
  .fade {
    opacity: 0;
    animation: fadeEffect 1.5s forwards;
  }
  
  @keyframes fadeEffect {
    to {
      opacity: 1;
    }
  }
