* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C0BAB8;
}

.tabs-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  background-color: #0679BF;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px 0 0;
  color: white;
}

.tab.active {
  background-color: #0E5785;
  border-bottom: 2px solid #f4f4f4;
}

.tab:hover {
  background-color: #ddd;
}

.tab-content-container {
  padding: 20px;
  border: 1px solid #0679BF;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
